@model LineNotifyPractice.Models.DB.Subscriber

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LineNotifyPractice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LineNotifyPractice.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @if (Model is not null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hi! @Model.Username</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LineNotifyPractice</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (Model is null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="LineLogIn"
                                asp-action="Login">Login</a>
                            </li>
                        }

                        @if (Model is not null)
                        {
                            @if (Model.LINENotifyAccessToken is null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="LineNotify"
                                asp-action="Subscribe">Subscribe</a>
                                </li>
                            }
                            @if (Model.LINENotifyAccessToken is not null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="LineNotify"
                                asp-action="Revoke">Unsubscribe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" onclick="notify()" style="cursor: pointer;">Notify</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - LineNotifyPractice
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    function notify() {
        var message = prompt('請輸入 Notify 文字');
        var url = '@Url.Action("Notify", "LineNotify")' + '?message=' + message;
        fetch(url)
            .then(function (response) {
                alert("Send Ok")
            }).catch(function (err) {
                alert("Send Error")
            });
    }
</script>

</html>
